<!DOCTYPE html>
<html>
    <!-- always the same header - just put it in a partial -->
    {{ partial "head.html" . }}

    <body>
        <div class="container">

            <!-- headshot! -->
            <section id="headshot">
                <div class="row">
                    <div class="eight columns offset-by-two">
                        <img src="/images/headshot.png" alt="Calvin Smith">
                    </div>
                </div>
            </section>

            <!-- info section -->
            <section id="info">
                <div class="row">
                    <div class="eight columns offset-by-two">
                        <h1>{{ .Site.Data.personal.name }}</h1>
                        {{ .Site.Data.personal.affiliation }}
                    </div>
                </div>
            </section>

            <!-- about section -->
            <section id="about">
                <div class="row">
                    <div class="eight columns offset-by-two">
                        {{ .Site.Data.personal.about }}
                    </div>
                </div>
            </section>

            <!-- miscellaneous section -->
            <section id="misc">
                <div class="row">
                    <div class="eight columns offset-by-two">
                        My CV is available <a href="/files/cv.pdf">here</a>.
                    </div>
                </div>
            </section>

            <!-- publications -->
            <section id="publications">
                <div class="row">
                    <div class="eight columns offset-by-two">
                        <h2>Publications</h2>
                        <ul>
                            {{ range (where .Data.Pages "Section" "publication") }}
                                {{ .Render "li" }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </section>

            <!-- projects -->
            <section id="projects">
                <div class="row">
                    <div class="eight columns offset-by-two">
                        <h2>Projects</h2>
                        <ul>
                            {{ range (where .Data.Pages "Section" "project") }}
                                {{ .Render "li" }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </section>

        {{ partial "footer.html" . }}

        </div>
    </body>
</html>
