<!DOCTYPE html>
<html>
    <!-- always the same header - just put it in a partial -->
    {{ partial "head.html" . }}

    <body>
        <div class="container">

            <!-- publications -->
            <section id="publications">
                <div class="row">
                    <div class="six columns offset-by-three">
                        <h2>Publications</h2>
                        <ul>
                            {{ range .Data.Pages }}
                                {{ if eq .Type "publication"}}
                                    {{ .Render "li" }}
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </section>

            <!-- projects -->
            <section id="projects">
                <div class="row">
                    <div class="six columns offset-by-three">
                        <h2>Projects</h2>
                        <ul>
                            {{ range .Data.Pages }}
                                {{ if eq .Type "project" }}
                                    {{ .Render "li.html" }}
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </section>

        </div>
    </body>
</html>
